<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <app-active-users></app-active-users>
      <app-inactive-users></app-inactive-users>
    </div>
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <p>Users moved from Active to Inactive: {{ activeToInactive }}</p>
      <p>Users moved from Inactive to Active: {{ inactiveToActive }}</p>
    </div>
  </div>
</div>
