<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!-- Add a Form with the following Inputs (and Validators)
           1) Mail address (should not be empty and should be an email address)
           2) A Dropdown which allows the user to select from three different Subscriptions ("Basic", "Advanced", "Pro")
              Set "Advanced" as Default
           3) A Password field (should not be empty)
           4) A Submit Button

           Display a warning message if the Form is invalid AND was touched. Display a warning message below each input if it's invalid.

           Upon submitting the form, you should simply print the Value of the Form to the Console.
           Optionally, display it in your template.
      -->
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" class="form-control" email ngModel required #email="ngModel">
          <span class="help-block" *ngIf="!email.valid && email.touched">Please enter an email</span>
        </div>
        <div class="form-group">
          <label for="subscription">Subscription</label>
          <select id="subscription" name="subscription" class="form-control" [ngModel]="selectedSubscription" required #subscription="ngModel">
            <option *ngFor="let subscription of subscriptions" [value]="subscription">{{ subscription }}</option>
            <!-- <option value="basic">Basic</option>
            <option value="advanced">Advanced</option>
            <option value="pro">Pro</option> -->
          </select>
          <span class="help-block" *ngIf="!subscription.valid && subscription.touched">Please select a plan</span>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" class="form-control" password ngModel required #password="ngModel">
          <span class="help-block" *ngIf="!password.valid && password.touched">Please enter a password</span>
        </div>
        <p *ngIf="!f.valid && f.touched">The form is invalid</p>
        <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Sumbit</button>
      </form>
    </div>
  </div>
</div>
